{% extends "App1/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Lista de Alumnos</h2>
<a class="card_custom" href="{% url 'Alumnos_form' %}">Crear nuevo Alumno</a>
<br></br>
<form action="/alumnos_search/" method="GET">
    <div>
        <input type="text" name="all_search1" id="course_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>
<ul>
    {% for a in alumnos %}
        <li>
            Alumno: {{a.name}}
            -- e-mail: {{a.email}}
        </li>
    {% endfor %}
</ul>
<hr></hr>
{% endblock %}