{% extends "App1/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Buscador de alumnos</h2>
<hr></hr>

<form action="/alumnos_search/" method="GET">
    <div>
        <input type="text" name="all_search1" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if alumnos %}
    <ul>
        {% for alumno in alumnos %}
            <li>
                Alumno: {{alumno.name}}
               
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}