{% extends "App1/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Lista de Cursos</h2>
<a class="card_custom" href="{% url 'Cursos_form' %}">Crear nuevo Curso</a>
<br></br>
<form action="/cursos_search/" method="GET">
    <div>
        <input type="text" name="all_search" id="course_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>
<ul>
    {% for c in cursos %}
        <li>
            Curso: {{c.curso}}
            -- Camada: {{c.camada}}
        </li>
    {% endfor %}
</ul>

{% endblock %}