{% extends "App1/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Lista de Profesores</h2>
<a class="card_custom" href="{% url 'Profesores_form' %}">Crear nuevo Profesor</a>
<br></br>
<form action="/profesores_search/" method="GET">
    <div>
        <input type="text" name="all_search2" id="course_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>
<ul>
    {% for p in profesors %}
        <li>
            Profesor: {{p.name}}
            -- e-mail: {{p.email}}
        </li>
    {% endfor %}
</ul>
<hr></hr>
{% endblock %}